/* font-family: 'Open Sans', sans-serif; */
#navbar__logo{
    object-fit: cover;
    width: 20px;
    padding-right: 3px;
    float: left;
}

.home__avatar{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.Profile_img{
    width: 100px;
    height: 100px;
}
.job__logo{
    width: 100px;
    height: 100px;
    float: left;
    padding: 5px;
}